/* src/styles/App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #e0eafc, #cfdef3);
  color: #333;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; /* To prevent content from being hidden behind the fixed footer */
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
