/* src/styles/SearchBar.css */

.search-bar {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  font-size: 1em;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
}
